<div class="post-detail py-5 bg-light">
  <div class="card w-75 mx-auto mt-4 shadow-lg">
    <%= image_tag @post_image.get_image, class: "card-img-top" %>
    <div  class="card-body">
      <div class="col-2">
        <%= image_tag @post_image.user.get_profile_image(60,60) %>
      </div>
    </div>
  </div>
</div>