<h2>検索結果</h2>
<table class="table table-hover table-inverse">
  <!--検索対象がUser-->
  <% if @range == "User" %>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
        </tr>
      <% end %>
    </tbody>

  <% else %>
  <!--検索対象がPostImage-->
    <tbody>
      <% @post_images.each do |post_image| %>
        <tr>
          <td><%= post_image.title %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>