<div class="container">
  <div class="row">
    <div class="col">
      <section class="px-3 mx-auto">
      <h2 class="text-center">Luana wahiへようこそ</h2>
      <p class="text-center">
        ここは動物たちの癒しで溢れる場所です<br>
        動物好きな方・日常の疲れを癒したい方は是非ご利用ください。<br>
        少しでも多くの人のくつろげる場所になることを願っております
      </p>
      </section>
    </div>
  </div>
</div>