<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h5 class="text-center">
        管理者は不適切な投稿･コメント等を行うUserや<br>
        不正ログインを行うUserを退会処理して管理してください。
      </h5>
    </div>
  </div>
</div>

